<a href="https://colab.research.google.com/github/TongSii/hds5210-2025/blob/main/week05/review_for_week04_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Create a list of 3 items (100, 200,300)

In [1]:
my_list = [100,200,300]

step2:Append 2 more items to the list

In [2]:
my_list.append(400)
my_list.append(500)

In [3]:
my_list

[100, 200, 300, 400, 500]

In [6]:
my_list[6]

IndexError: list index out of range

step3: Copy the list so we preserve the original

In [7]:
my_newlist= my_list.copy()

In [8]:
my_newlist

[100, 200, 300, 400, 500]

Step 4: Slice the list to get a subset (e.g., top 3)

In [9]:
sliced_list = my_newlist[0:3]

In [10]:
sliced_list

[100, 200, 300]

Step 5: Create a dictionary from these 3 using item labels
key: "item1","item2"
value: {"index": ,"value",}

In [12]:
my_dic={}

for i in range(3):  #range(0,3,1) 0,1,2
  key = f"item{i+1}"
  value ={
      'index':i,
      'value':sliced_list[i]
  }
  my_dic[key]=value

In [13]:
my_dic

{'item1': {'index': 0, 'value': 100},
 'item2': {'index': 1, 'value': 200},
 'item3': {'index': 2, 'value': 300}}

In [11]:
dic={
    "item1":{"index": 0, "value":100}
}

Step 6: Add one more dictionary item manually

In [14]:
my_dic["item4"] = {"index": 3, "value":400}

In [15]:
my_dic

{'item1': {'index': 0, 'value': 100},
 'item2': {'index': 1, 'value': 200},
 'item3': {'index': 2, 'value': 300},
 'item4': {'index': 3, 'value': 400}}

Step 7: Loop through the dictionary,to get   the square of values

In [20]:
for k,v in my_dic.items():
  v["value_squared"]=v["value"]**2

In [21]:
my_dic

{'item1': {'index': 0, 'value': 100, 'value_squared': 10000},
 'item2': {'index': 1, 'value': 200, 'value_squared': 40000},
 'item3': {'index': 2, 'value': 300, 'value_squared': 90000},
 'item4': {'index': 3, 'value': 400, 'value_squared': 160000}}

In [17]:
dic1={'index': 0, 'value': 100}

In [18]:
dic1["value"]

100

Step 8: Do the same using a dictionary comprehension

In [24]:
my_dic

{'item1': {'index': 0, 'value': 100, 'value_squared': 10000},
 'item2': {'index': 1, 'value': 200, 'value_squared': 40000},
 'item3': {'index': 2, 'value': 300, 'value_squared': 90000},
 'item4': {'index': 3, 'value': 400, 'value_squared': 160000}}

In [25]:
print("Original Dictionary with Computed Squares:")
for k, v in my_dic.items():
    print(f"{k}: {v}")

Original Dictionary with Computed Squares:
item1: {'index': 0, 'value': 100, 'value_squared': 10000}
item2: {'index': 1, 'value': 200, 'value_squared': 40000}
item3: {'index': 2, 'value': 300, 'value_squared': 90000}
item4: {'index': 3, 'value': 400, 'value_squared': 160000}

In [ ]:
 for k, v in my_dic.items()

In [26]:
my_dic={}

for i in range(3):  #range(0,3,1) 0,1,2
  key = f"item{i+1}"
  value ={
      'index':i,
      'value':sliced_list[i]
  }
  my_dic[key]=value

In [27]:
my_dic

{'item1': {'index': 0, 'value': 100},
 'item2': {'index': 1, 'value': 200},
 'item3': {'index': 2, 'value': 300}}

In [30]:
dic_com ={
k:{
    **v,
    "value_squared": v["value"]**2
}
for k,v in my_dic.items()
}

In [31]:
dic_com

{'item1': {'index': 0, 'value': 100, 'value_squared': 10000},
 'item2': {'index': 1, 'value': 200, 'value_squared': 40000},
 'item3': {'index': 2, 'value': 300, 'value_squared': 90000}}