<a href="https://colab.research.google.com/github/TongSii/hds5210-2025/blob/main/week12/module37_custom_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What's a custom pivot?

In this example, I know what columns I want to have in the pivot, but I don't know if they exist, or if extra columns might exist that I want to simply ignore.

Back to our complications data...

Suppose that we want a column for the following measure IDs:
* PSI_90_SAFETY
* PSI_13_POST_SEPSIS
* PSI_08_HIP_FRAC

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('complications.csv')

In [ ]:
data.columns

Index(['provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_number', 'measure_id', 'measure_name',
       'compared_to_national', 'denominator', 'score', 'lower_estimate',
       'higher_estimate', 'footnote', 'measure_start_date',
       'measure_end_date'],
      dtype='object')

In [ ]:
data.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [ ]:
data['measure_id'].value_counts()

measure_id
COMP_HIP_KNEE                53
MORT_30_AMI                  53
MORT_30_CABG                 53
MORT_30_COPD                 53
MORT_30_HF                   53
MORT_30_PN                   53
MORT_30_STK                  53
PSI_10_POST_KIDNEY           53
PSI_11_POST_RESP             53
PSI_12_POSTOP_PULMEMB_DVT    53
PSI_13_POST_SEPSIS           53
PSI_14_POSTOP_DEHIS          53
PSI_15_ACC_LAC               52
PSI_3_ULCER                  52
PSI_4_SURG_COMP              52
PSI_6_IAT_PTX                52
PSI_8_POST_HIP               52
PSI_90_SAFETY                52
PSI_9_POST_HEM               52
Name: count, dtype: int64

**Strategy**

Retreive each subset of rows that we want and put them into separate data frames.

Then merge those data frames together using the key values we want as our new rows.

In [ ]:
data.columns

Index(['provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_number', 'measure_id', 'measure_name',
       'compared_to_national', 'denominator', 'score', 'lower_estimate',
       'higher_estimate', 'footnote', 'measure_start_date',
       'measure_end_date'],
      dtype='object')

In [ ]:
psi_03 = data[data['measure_id'] == 'PSI_3_ULCER'][['provider_id','denominator','score']]
psi_13 = data[data['measure_id'] == 'PSI_13_POST_SEPSIS'][['provider_id','denominator']]
psi_08 = data[data['measure_id'] == 'PSI_8_POST_HIP'][['provider_id','denominator']]

In [ ]:
psi_03.head()

    provider_id denominator score
13        10001       11162  0.32
32        10005        4942  0.73
51        10006        8055  0.40
70        10007        1036  0.35
89        10008         298  0.47

In [ ]:
psi_03['denominator'].value_counts()

8078     1
496      1
6701     1
690      1
298      1
4777     1
2178     1
1278     1
249      1
187      1
303      1
1865     1
435      1
4942     1
3190     1
5747     1
777      1
810      1
3890     1
26657    1
261      1
1593     1
474      1
856      1
1622     1
787      1
8055     1
14487    1
1542     1
240      1
2650     1
27       1
9216     1
6070     1
901      1
4343     1
1036     1
11162    1
90       1
3942     1
19343    1
465      1
2245     1
855      1
4634     1
7228     1
650      1
6967     1
7109     1
1578     1
6078     1
6243     1
Name: denominator, dtype: int64

In [ ]:
psi_03.head()

    provider_id    denominator score
17        10001  Not Available  0.99
36        10005  Not Available  1.01
55        10006  Not Available  1.02
74        10007  Not Available  0.98
93        10008  Not Available  0.99

In [ ]:
psi_13.head()

    provider_id    denominator
10        10001           1607
29        10005            641
48        10006            551
67        10007             41
86        10008  Not Available

In [ ]:
psi_08.head()

    provider_id denominator
16        10001       11971
35        10005        5742
54        10006        8846
73        10007        1176
92        10008         334

In [ ]:
psis = psi_03.\
       merge(psi_13, how='outer', on=['provider_id']).\
       merge(psi_08, how='outer', on=['provider_id'])

In [ ]:
psis.head()

   provider_id denominator_x score  denominator_y denominator
0        10001         11162  0.32           1607       11971
1        10005          4942  0.73            641        5742
2        10006          8055  0.40            551        8846
3        10007          1036  0.35             41        1176
4        10008           298  0.47  Not Available         334

In [ ]:
psis.columns = ['provider_id','PSI_03 Den','PSI_03 Score','PSI_13','PSI_08']

In [ ]:
psis

    provider_id PSI_03 Den PSI_03 Score         PSI_13 PSI_08
0         10001      11162         0.32           1607  11971
1         10005       4942         0.73            641   5742
2         10006       8055         0.40            551   8846
3         10007       1036         0.35             41   1176
4         10008        298         0.47  Not Available    334
5         10011       5747         0.22            793   5416
6         10012       1542         0.28             87   1874
7         10016       3942         0.44            761   4690
8         10018         27         0.51             34     58
9         10019       4634         0.12  Not Available   4831
10        10021        777         0.35             53    800
11        10022        249         0.49  Not Available    252
12        10023       6078         0.31           1633   7897
13        10024       6243         0.50           1114   7131
14        10029       8078         0.15           1359   8709
15        10033      19343         2.73           5000  18920
16        10034        650         0.38  Not Available    761
17        10035       4343         0.13            461   5615
18        10036       2178         0.22  Not Available   2508
19        10038       1622         0.24            183   2255
20        10039      26657         0.47           5223  25430
21        10040       7109         0.20           1401   7307
22        10044        496         0.45  Not Available    702
23        10045        474         0.40  Not Available    734
24        10046       3890         0.09            388   5221
25        10049       1278         0.30            386   1752
26        10051         90         0.50  Not Available    134
27        10052        303         0.41  Not Available    608
28        10055       6967         0.19           2117   7984
29        10056       9216         0.23           3484   9282
30        10058        187         0.48  Not Available    263
31        10059        435         0.43  Not Available    539
32        10061       1593         1.16             62   2097
33        10062        855         0.37             39   1000
34        10065       1578         0.23             72   2244
35        10069        690         0.37  Not Available    865
36        10073        856         0.42  Not Available    542
37        10078       7228         0.25           1247   7378
38        10079       2245         0.81            379   2810
39        10083       3190         0.17            367   3546
40        10085       6070         0.52  Not Available   6712
41        10086        787         0.38  Not Available   1007
42        10087       1865         0.74            320   1833
43        10089       2650         0.85            459   2926
44        10090       6701         0.76           1274   6981
45        10091        240         0.48  Not Available    388
46        10092      14487         0.52  Not Available  17900
47        10095        261         0.46  Not Available    363
48        10097        465         0.45  Not Available    568
49        10099        810         0.90             37   1059
50        10100       4777         0.09           1070   5565
51        10101        901         0.34  Not Available   1078
52        10102        NaN          NaN  Not Available    NaN